.navbar {
    display: flex;
    align-items: center;
    background-color: #333333;
    height: 80px;
    justify-content: space-between;
    width: 100%;
}

.logo {
    height: 45px;
    margin-left: 20px;
    color: #999;
    transition: color 0.3s;
    cursor: pointer;
}

.logo:hover {
    color: #e0e0e0;
  }

.login {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.login:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.cart {
    margin-right: 5px;
    color: white;
    text-decoration: none;
}

.cart:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.nav-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    gap: 10px;
}

.name {
    color: white;
}